body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #F0FFFF;
  font-size: 30px;
  /* Chrome 10-25, Safari 5.1-6 */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0px;
}



#clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
}