@import "./home-page.css";
@import "./container.css";
@import "./header.css";
@import "./footer.css";
@import "./main.css";

body {
    display: block;
    font-size: 12px;
    font-family: sans-serif;
}

.blog-post-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    grid-area: header;
}

.container {
    grid-area: main;
    margin: 70px auto;
}

footer {
    grid-area: footer;
}

.blog-header {
    display: flex;
    padding: 10px 10px 10px 0;
    align-items: center;
}

.blog-author-pic {
    display: block;
    margin: auto;
    position: relative;
    border-radius: 100%;
    width: 210px;
}

.blog-author {
    padding-left: 10px;
}