/* The posts */

.container {
    grid-area: main;
    max-width: 100%;
    padding: 25px 15px 0 15px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 30px 10px;
    transition: all 0.3s ease-out;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-img {
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

.card figure {
    margin: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
}

article .title {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
}

article .sub-title {
    margin-top: 15px;
}

h3 {
    font-size: 15px;
}

article .summary {
    margin-top: 15px;
    text-align: center;
}

p {
    font-size: 14px;
}

article .btn {
    margin-top: 25px;
}

.btn {
    display: flex;
    position: relative;
    padding: 12px 0;
    border: 2px solid black;
    background: black;
    width: 95%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background: white;
    transition: all 0.3s ease-in;
}

a {
    font-size: 16px;
}

/* The subscribe section */

.subscribe {
    display: flex;
    flex-direction: column;
    padding: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.subscribe p h1 {
    text-align: center;
}

.subscribe p {
    font-size: 25px;
}

.subscribe input[type="text"],
[type="email"] {
    margin-top: 25px;
}

input[type="text"],
[type="email"] {
    padding: 12px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

button {
    font-size: 16px;
}

@media screen and (min-width: 600px) {
    .card {
        flex-direction: row;
    }
}

/* This is added to keep the Card items from being stretch out over the screen */

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}