/* The header */

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fafafa;
    font-size: 24px;
    width: 100%;
    position: fixed;
    grid-area: header;
    grid-column: 1/4;
    margin-top: 0;
}

nav {
    position: relative;
    overflow: hidden;
}


nav .menu li {
    float: none;
    display: block !important;
    text-align: left;
}

.menu {
    flex-direction: row;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 15px;
    cursor: pointer;
}

header li:nth-child(3) {
    margin-left: auto;
}

header .socials li:nth-child(2) {
    margin-left: auto;
}

nav .socials img {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-out;
}

nav .socials img:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
}