body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right top, #1a2a6c, #b21f1f, #fdbb2d);
  background: #001f3f;
  height: 100%;
  color: white;
  background-repeat: no-repeat;
}

.button {
  background-color: orange;
}

.text {
  font-size: 30px;
}

#location {
  font-weight: bold;
  font-size: 24px;
}

#tempunit {
  cursor: pointer;
  color: #006dcc;
}

#tempunit:hover {
  color: #005096;
}

#search-txt {
  color: black;
}

.icon {
  width: 17rem;
  height: 15rem;
  margin: 15px;
}

#icon-attribution {
  padding: 20px;
}
