header {
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fafafa;
    padding: 1em;
    font-size: 24px;
    width: 100%;
}

nav {
    position: relative;
    overflow: hidden;
  }

.menu {
    flex-direction: row;
}

ul {
    display: flex;
    list-style: none;
    
}

li {
    margin: 0 15px;
    
}
li:nth-child(3) {
    margin-left: auto;
}

