<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="head">
                <h2>Sentiment Measurer Application</h2>
            </div>
            <div class="">
            </div>
        </header>

        <main>
            <section>
                <h2 class="instructions">Enter the url of a site to evaluate</h2>
                <div class="examples">
                    <h2>Use these as an example</h2>
                    <div class="url">https://jestjs.io/docs/en/getting-started</div>
                    <div class="url">https://www.valentinog.com/blog/jest/</div>
                </div>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>  

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="url"></div>
                    <div id="text"></div>
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <div id="polarity_confidence"></div>
                    <div id="subjectivity_confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
